<html>

<head>
  <title>Passport Demo</title>
  <%- include('style') %>
</head>

<body>
  <%- include('nav') %>

  <div class="container">
    <br />
    <a href="/auth/oxd" class="btn btn-warning">User login - Passport OXD</a>

    <a href="/auth/oidc" class="btn btn-warning">User login - Passport OIDC</a>

    <a href="/auth/saml" class="btn btn-warning">User login - Passport SAML</a>
  </div>
</body>

</html>