<html>

<head>
  <title>Passport Demo</title>
  <%- include('style') %>
</head>

<body>
  <%- include('nav') %>

  <div class="container">
    <br />
    <a href="/auth/gluu" class="btn btn-warning">Gluu Login</a>
  </div>
</body>

</html>